html, body {
  overflow: hidden;
}

.window_wrapper {
	background-color: lightsteelblue;
	border-radius: 10px;
	margin: 10%;
	margin-top: 1%;
}

.window_title_wrapper {
	display: flex;
	text-align: center;
	justify-content: center;
}

.window_title {
	font-size: larger;
	font-weight: bold;
	font-style: italic;
	padding: 8px 15px;
	background-color: red;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.form_material {
	padding: 5%;
	font-size: larger;
	padding-bottom: 2%;
}

input:not([type=reset],[type=submit],[type=file], [type=date]) {
  width: 20vw;
	padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box; 
	border-radius: 5px;
	border-color: gray;
	border-width: 3px;
  transition: width 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	outline: none;
	font-family: 'Montserrat';
	font-size: medium;
}

.form_input {
	margin-bottom: 2%;
}

.type_select {
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-size: large;
	border-radius: 5px;
	padding: 5px;
	margin-left: 20px;
}

input:not([type=reset],[type=submit],[type=file], [type=date]):focus {
  border-color: red;
	width: 40vw;
	overflow: auto;
}

.in_date {
	padding: 12px 20px;
  margin: 8px 10px;
  box-sizing: border-box; 
	border-radius: 5px;
	border-color: gray;
	border-width: 3px;
  transition: width 0.5s ease-in-out;
	-webkit-transition: 0.5s ease-in-out;
	outline: none;
	font-family: 'Montserrat';
	font-size: medium;
}

.in_date:focus {
	border-color: red;
	overflow: auto;
}

.in_image {
	font-size: medium;
	font-family: 'Montserrat';
	padding-left: 2%;
}

.btn_wrapper {
	display: flex;
	justify-content: center;
}

.btn_add {
	background-color: darkgrey;
	color: white;
	transition-duration: 0.3s;
	border-radius: 10px;
	font-size: 100%;
	font-family: 'Montserrat';
	font-weight: bolder;
	padding: 2%;
	margin: 0% 2.5%;
}

.btn_add[value=Ajouter] {
	background-color: green;
}

.btn_add:hover {
	background-color: white;
	color: black;
}

