.mat_select {
	box-sizing: border-box;
	font-family: 'Montserrat';
	font-size: large;
	border-radius: 5px;
	padding: 5px;
	margin-left: 20px;
	margin-bottom : 3%;
}


.btn_confirm {
	background-color: gray;
	color: white;
	transition-duration: 0.3s;
	border-radius: 10px;
	font-size: 100%;
	font-family: 'Montserrat';
	font-weight: bolder;
	padding: 1% 3%;
	margin: 0% 2.5%;
}

.btn_confirm[value=Supprimer] {
	background-color: red;
}

.btn_confirm:hover {
	background-color: white;
	color: black;
}
